<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">SimpleBlog</a>
      <ul class="navbar-nav right">
        <li class="nav-item active">
          <%= link_to "Create post", new_post_path %></li>
        </li>
      </ul>
    </nav>
    <br>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
